<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LAN File Transfer</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <style>
        html {
            font-size: 16px; /* 根元素字体大小 */
        }

        .layui-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 设置高度为视口高度，使其垂直居中 */
        }

        .form {
            /* 根据需要设置子元素的样式 */
        }

    </style>
</head>
<body>
<div class="layui-main">
    <div class="form">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">选择网卡</label>
                <div class="layui-input-block">
                    <select name="nic_name" lay-verify="required">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发送方IP</label>
                <div class="layui-input-block">
                    <input type="text" name="sender_ip" required lay-verify="required" placeholder="请输入发送方IP"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发送方端口</label>
                <div class="layui-input-block">
                    <input type="text" name="sender_port" required lay-verify="required" placeholder="请输入发送方端口"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">接收方IP</label>
                <div class="layui-input-block">
                    <input type="text" name="receiver_ip" required lay-verify="required" placeholder="请输入接收方IP"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">接收方端口</label>
                <div class="layui-input-block">
                    <input type="text" name="receiver_port" required lay-verify="required"
                           placeholder="请输入接收方端口"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择文件</label>
                <div class="layui-input-inline">
                    <input type="text" name="file_path" required lay-verify="required" placeholder="请选择文件"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-normal">选择文件</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">开始发送</button>
                    <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
        </form>
        <div class="layui-progress layui-progress-big" lay-showPercent="true">
            <div class="layui-progress-bar layui-bg-blue" lay-percent="80%"></div>
        </div>
    </div>
</div>
</body>
<script src="static/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</html>